asgiref
celery
dj-database-url
django-celery-beat
weasyprint
cloudinary
Django
django-cloudinary-storage
django-cors-headers
django-environ
django-redis
djangorestframework
djangorestframework-simplejwt
gunicorn
kombu
psycopg2-binary
python-dotenv
redis
requests
vine
whitenoise