asgiref
celery
dj-database-url
django-celery-beat
weasyprint
cloudinary
Django==5.2.17
django-cloudinary-storage
django-cors-headers
django-environ
django-redis
djangorestframework
djangorestframework-simplejwt
gunicorn
kombu
psycopg2-binary
python-dotenv
redis
requests
vine
whitenoise
pyotp==2.9.0
qrcode[pil]==8.2
cryptography>=42
